{include file="public/header" /}
<div class="layui-form" style="padding: 20px 30px 0 0;">
    <form id="saveFrm">
	<input type="hidden" name="id" value="{$orders.id}"/>
    <input type="hidden" name="zhuangtai" value="已发货"/>
    <div class="layui-form-item">
        <label class="layui-form-label">订单号</label>
        <div class="layui-input-inline">
            {$orders.onumber}
        </div>
    </div>
	<div class="layui-form-item">
        <label class="layui-form-label">快递名称</label>
        <div class="layui-input-inline">
            <input type="text" name="kuaidi"  min="4" placeholder="" value="" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">快递编号</label>
        <div class="layui-input-inline">
            <input type="text" name="knumber"  min="4" placeholder="" value="" autocomplete="off" class="layui-input"/>
        </div>
    </div>
 
        </form>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" onclick="update()">提交</button>
                <button class="layui-btn" onclick="closeDialog()">取消</button>
            </div>
        </div>
    </div>
</div>
    <script>
        var layer;
        $(function () {
            layui.use(['form', 'layer', 'upload'], function () {
                var form = layui.form;
                layer = layui.layer;
                form.render();
            });
        });

        function closeDialog() {
            parent.location.reload();
        }
		
		
		function update() {
			var url = '{:url("orders/update")}';
			var data = $('#saveFrm').serialize();
			$.ajax({
				url: url,
				type: 'post',
				dataType: "json",
				data: data
			}).done(function (data) {
				layer.msg(data.msg);
				if (data.code === 0) {
					closeDialog();
				} else {
					layer.msg(data.msg);
				}
			});
		}
    </script>
</body>
</html>