.layui-layout-right > .layui-nav-item {
    margin-right: 32px;
}

.layadmin-user-login-main {
    width: 432px;
}

label.layui-form-label {
    text-align: center;
    width: 91px;
}
#photoImg{
    max-width: 290px;
    max-height: 290px;
}
.selecta{display:block;height: 38px;

line-height: 1.3;

line-height: 38px\9;

border-width: 1px;

border-style: solid;

background-color:
#fff;

border-radius: 2px;}