{include file="public/header"}
<div class="container">
  <div class="box d-flex justify-content-around">
    <div class="left">
      <div class="tg">
        <a href="{:url('index/index')}">首页</a> > <a href="#" class="inactive">关于我们</a>
      </div>
      <div class="article">
        <h3 class="text-center">{$about['title']}</h3>
        <div class="content-box" style="margin-bottom: 40px;">{$about['editorValue']}</div>
      </div>
    </div>
    {include file="public/right-side"}
  </div>
</div>
{include file="public/footer"}