{include file="public/header" /}
<link rel="stylesheet" href="__STATIC__/index/css/login.css">
<div class="container">
  <div class="login-box shadow p-3 mb-5 bg-white rounded m-auto">
    <ul class="text-center">
      <li>确认订单</li>
    </ul>
    <div class="login-form">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">商品</th>
          <th scope="col">数量</th>
          <th scope="col">小计</th>
        </tr>
        </thead>
        <tbody>
        {volist name='cart' id="vo"}
        <tr name="a{$vo.id}">
          <td>{$vo.title}</td>
          <td>{$vo.nums}</td>
          <td>{$vo.price}</td>
        </tr>
        {/volist}
        </tbody>
      </table>
      <p class="text-right">总计：<span style="color: red;">￥{$total}</span></p>
      <form action="{:url('user/ordersave')}" method="post">
        <div class="register_infor">
          <p style="padding-bottom: 10px;">选择收件人信息</p>
          <ul>
            <li class="input_box">
              <select name="addressid">
                {volist name='address' id="vo"}
                <option value="{$vo.id}">{$vo.nickname},{$vo.tel},{$vo.address}</option>
                {/volist}
              </select>
              <span class="error_icon"></span>
            </li>
            <li class="error_box"><em></em></li>
            <li class="input_box">
              <span class="t_text user_putong_card"></span>
              <input type="text" name="content" id="content" autocomplete="off" placeholder="留言">
              <span class="error_icon"></span>
            </li>
            <li class="error_box"><div id="telMSG"></div></li>
            <input type="hidden" name="total" value="{$total}">
            <li>
              <button type="button" class="btn btn-primary" onclick="location.href='{:url(\'user/address\')}'">添加收件人信息</button>
              <button type="submit" class="btn btn-success">下订单</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $("form").submit(function(){
    var addressid = $('select[name="addressid"]').val();
    // console.log(addressid);
    // return false;
    if (addressid == null){
      alert('请先添加收件人信息');
      return false;
    }
  });
</script>
{include file="public/footer" /}