<div class="usernav row">
    <div class="col-4 col-sm-3 col-md-2">
        <h6 class="text-center" onclick="location.href='{:url(\'user/index\')}'">个人资料</h6>
    </div>
    <div class="col-4 col-sm-3 col-md-2">
        <h6 class="text-center" onclick="location.href='{:url(\'user/orders\')}'">我的订单</h6>
    </div>
    <div class="col-4 col-sm-3 col-md-2">
        <h6 class="text-center" onclick="location.href='{:url(\'cart/index\')}'">购物车</h6>
    </div>
    <div class="col-4 col-sm-3 col-md-2">
        <h6 class="text-center" onclick="location.href='{:url(\'user/myart\')}'">文章列表</h6>
    </div>
</div>
<div class="border-bottom" style="margin-bottom: 20px;"></div>